{% load static %}

<div class="media">
    <div class="media-left">
        <a href="#">
            {% if tweet.image %}
                <img class="media-object" src="..." alt="...">
            {% endif %}
        </a>
    </div>
    <div class="media-body">
        {{ tweet.content }} <br/>
        via {{ tweet.user }} | 
        {{ tweet.modified|timesince }} ago | 
        <a href="{{ tweet.get_absolute_url }}">
            View <img src="{% static 'icone/eye.svg' %}">
        </a>
    </div>
</div>
<hr/>