{% extends 'base.html' %}

{% load static %}

{% block content %}
    <div class="row">
        <div class="col-sm-8 col-sm-offset-2">
            {% include 'snippet/search_form.html' %}
            {% for tweet in object_list %}
                {% include 'snippet/detail.html' %}
            {% empty %}
                {% if request.GET.q %}
                    <p>No tweets found.</p>
                {% else %}
                    <p>No tweets yet.</p>
                {% endif %}
            {% endfor %}
        </div>
    </div>
{% endblock content %}